.product{
  display: flex;
  border-bottom:2px solid rgb(136, 23, 23) ;
  margin-bottom:5px;
  padding-bottom:10px;
}
.Product-name{
   color: blue;
   font-weight: 400;
}
.main-btn{
   background-color:goldenrod;
   width :150px;
   height: 30px;
   border:1px solid darkgray;
   border-radius: 10px;
   cursor: pointer;
}